@font-face {
    font-family: 'Lipishree'; /* Name it anything */
    src: url('../fonts/LipishreeUnicode.woff2') format('woff2'); /* Path to your font */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bg.jpg') center/cover no-repeat;
    filter: blur(10px);
    z-index: -1;
}

/* Top menu bar */
/* .menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
} */
/* .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
} */

.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;  /* Ensures it spans full width */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 991;
}

.menu .menu-container {
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.6);
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    line-height: 1.5em;
    transition: 0.3s;
}

.menu a:hover {
    color: #f4a261; /* Highlight color */
}

.image-container, .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.image-container {
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.content-container {
    /* width: 90%; */
    /* max-width: 800px;
    min-width: 300px; */
    height: 100vh;
    min-height: 400px;
    /* background: rgba(255, 255, 255, 0.9); */
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    overflow-y: auto;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    padding-bottom: 70px;
    /* align-items: center;  Centers vertically */
}

.content-bg {
    /* background: radial-gradient(circle, rgba(170, 170, 170, 0.2), rgba(79, 79, 79, 0.2)), center/cover no-repeat; */
    background: url('../img/bg.jpg') center/cover no-repeat;
    /* background-color: rgba(255, 255, 255, 0.2); */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    width: 90%;
    max-width: 800px;
    min-width: 300px;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    /* filter: blur(1px); */
    opacity: 50%;
}

.content {
    width: 90%;
    max-width: 800px;
    min-width: 300px;
    display: block;
    height: fit-content;
    padding: 20px;
    /* padding-bottom: 70px; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); */
    color: white;
    z-index: 990;
}

.beng {
    font-family: 'Lipishree';
}

.wedpage h1, .wedpage h2 {
    text-align: center;
}

.wedpage h1.wed {
    text-shadow: 0 0 2px #00ffcc, 0 0 4px #00ffcc, 0 0 6px #00ffcc;
}

.wedpage h1.wed-groom {
    text-shadow: 0 0 2px #bbff00, 0 0 4px #bbff00, 0 0 6px #bbff00;
    margin-top: 1em;
    padding-right: 2em;
}

.wedpage h1.wed-wd {
    color: #e8ffdb;
    text-shadow: 0 0 2px #b571b0, 0 0 4px #b571b0, 0 0 6px #b571b0;
}

.wedpage h1.wed-bride {
    text-shadow: 0 0 2px #ffc800, 0 0 4px #ffc800, 0 0 6px #ffc800;
    margin-bottom: 1em;
    padding-left: 2em;
}


.wedpage h1.wed-location {
    text-shadow: 0 0 2px #00ffcc, 0 0 4px #00ffcc, 0 0 6px #00ffcc;
}


.wedpage h1.wed-time {
    text-shadow: 0 0 2px #00ffcc, 0 0 4px #00ffcc, 0 0 6px #00ffcc;
}


/* ============= */

.wedpage h1 {
    font-size: 64px;
    /* background: linear-gradient(45deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}


.wedpage h2 {
    font-size: 48px;
}

/* Medium screens */
@media (max-width: 1024px) {
    .wedpage h1 {
        font-size: 48px;
    }
    .wedpage h2 {
        font-size: 36px;
    }
}

/* Small screens */
@media (max-width: 768px) {
    .wedpage h1 {
        font-size: 36px;
    }
    .wedpage h2 {
        font-size: 32px;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    .wedpage h1 {
        font-size: 32px;
    }
    .wedpage h2 {
        font-size: 28px;
    }
}